<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.companyx.leavemanagementsystem.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateLeaveServlet</servlet-name>
        <servlet-class>com.companyx.leavemanagementsystem.controller.CreateLeaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateLeaveServlet</servlet-name>
        <url-pattern>/createLeave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewLeavesServlet</servlet-name>
        <servlet-class>com.companyx.leavemanagementsystem.controller.ViewLeavesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewLeavesServlet</servlet-name>
        <url-pattern>/viewLeaves</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApproveLeaveServlet</servlet-name>
        <servlet-class>com.companyx.leavemanagementsystem.controller.ApproveLeaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApproveLeaveServlet</servlet-name>
        <url-pattern>/approveLeave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgendaServlet</servlet-name>
        <servlet-class>com.companyx.leavemanagementsystem.controller.AgendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgendaServlet</servlet-name>
        <url-pattern>/agenda</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.companyx.leavemanagementsystem.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JerseyConfig</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>com.companyx.leavemanagementsystem.JakartaRestConfiguration</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JerseyConfig</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
</web-app>